@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900|Roboto:300,400,500,700,900";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.css";

$font: 'Poppins', 'Roboto', sans-serif;
$font-color: #152038;

body {
  background: #fcfcfc;
  color: $font-color;
  font: 400 13px $font;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
}

.clear {
  clear: both;
}

.error-msg {
  background: #ef5350;
  height: 40px;
  width: 100%;
  text-align: center;
  font: 600 15px $font;
  color: #fff;
  padding: 8px;
  position: absolute;
  z-index: 9;
}

.hero {
  background: #94c1d3;
  height: 100%;
  width: 100%;
  clip-path: polygon(40% 0, 100% 0%, 100% 100%, 65% 100%);
  position: absolute;
  right: 0;
  filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 0px 0 #fff) drop-shadow(0 -1px 0 #fff);

  .hotel {
    background: url(../img/index/header-hotel.png) center top;
    height: 950px;
    width: 930px;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

#header-content {
  height: 110px;
  width: 100%;

  .logo {
    background: url(../img/bobbalogo_big_whiteR_beta.png);
    height: 73px;
    width: 197px;
    margin: 50px 0 0 0;
    float: left;
  }

  .online-count {
    position: absolute;
    left: 270px;
    top: 80px;
    font: 600 13px $font;
    color: rgba(21, 32, 56, .7);

    &:before {
      background: url(../img/index/online-hotel.png);
      height: 26px;
      width: 21px;
      content: '';
      margin: -5px 0 0 -30px;
      position: absolute;
    }

    b {
      color: rgba(21, 32, 56, .9);
    }
  }
}

.login-position {
  position: relative;
  top: 110px;
  width: 100%;
  height: 95%;

  h2 {
    font: 600 200% $font;
  }

  label {
    display: block;
    font: 600 13.5px $font;
    color: rgba(21, 32, 56, .7);
    margin: 0 0 5px 0;
  }

  input[type=text], input[type=password] {
    background: #fff;
    padding: 13px;
    border: 2px solid rgba(0, 0, 0, .1);
    outline: none;
    border-radius: 5px;
    width: 100%;
    margin: 0 0 30px 0;
    font: 500 13px $font;
    color: rgba(21, 32, 56, .7);
    transition: border .2s;

    &:last-child {
      margin: 0 0 0 0;
    }

    &:focus, &:active {
      border: 2px solid #94c1d3;
    }
  }

  p {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font: 600 12px $font;
    color: rgba(21, 32, 56, .4);
    margin: 20px 0;
  }
}

@import "_buttons";

.community-photos {
  display: block;

  h2 {
    margin: -70px 0 30px 0;
    font: 700 23px $font;
  }

  .photo {
    background: no-repeat center center;
    background-size: 550px;
    width: 100%;
    height: 320px;
    float: left;
    border-radius: 5px;
    image-rendering: pixelated;
    position: relative;
    margin: 0 0 17px 0;

    .overlay {
      background: linear-gradient(to bottom, transparent 70%, rgba(0, 0, 0, .5) 80%);
      position: absolute;
      height: 100%;
      width: 100%;
      border-radius: 10px;
      padding: 20px;
      color: #fff;

      .avatar-head {
        background: no-repeat center center;
        height: 62px;
        width: 54px;
        position: absolute;
        bottom: 10px;
        filter: drop-shadow(1px 1px 0 #fff) drop-shadow(-1px 0px 0 #fff) drop-shadow(0 -1px 0 #fff);
      }

      .username {
        text-align: center;
        position: absolute;
        bottom: 20px;
        left: 90px;
        font: 600 21px $font;
      }
    }
  }
}

#footer-content {
  text-align: center;
  width: 100%;
  margin: 50px 0 50px 0;

  .footer-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;

    li {
      display: inline;

      a {
        text-align: center;
        font: 500 12px $font;
        text-decoration: none;
        color: rgba(0, 0, 0, .4);
        transition: color .2s;

        &:hover {
          color: rgba(0, 0, 0, .25);
        }
      }

      &:after {
        content: '/';
        color: rgba(0, 0, 0, .5);
        padding: 0 20px 0 20px;
        margin: 20px 0 50px 0;
        font-size: 8px;
      }

      &:last-child:after {
        content: none;
      }
    }
  }

  p {
    font: 12px $font;
    color: rgba(0, 0, 0, .3);
  }
}

@media (max-width: 576px) {
  #header-content {
    width: 100%;

    .logo {
      background: url(../img/bobbalogo_big_whiteR_beta.png);
      height: 73px;
      width: 197px;
      position: relative;
      margin: 50px auto;
      float: none;
      margin-bottom: 20px;
    }
    .online-count {
      position: relative;
      left: 0;
      top: 0;
      text-align: center;
      margin: 0 -15px 0 0;
    }
  }
  .login-position {
    height: auto;
  }
  .community-photos {
    display: none;
  }
  #footer-content {
    display: none;
  }
}

@media (max-width: 768px) {
  #header-content {
    width: 100%;

    .logo {
      background: url(../img/bobbalogo_big_whiteR_beta.png);
      height: 73px;
      width: 197px;
      position: relative;
      margin: 50px auto;
      float: none;
      margin-bottom: 20px;
    }
    .online-count {
      position: relative;
      left: 0;
      top: 0;
      text-align: center;
      margin: 0 -15px 0 0;
    }
  }
  .login-position {
    height: auto;
  }
  .community-photos {
    display: none;
  }
  #footer-content {
    display: none;
  }
}